@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #30b0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.45rem;
  font-size: 1.25rem;
}

.Card {
  background: #252556;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.ToDoForm {
  width: 100%;
  margin-bottom: 0.82rem;
}

.ToDoInput {
  outline: none;
  background: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0.78rem;
  width: 300px;
  color: #fff;
}

.ToDoInput::placeholder {
  color: #ffffff4d;
}

.ToDoBtn {
  background: #09BC8A;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #30b0f0;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
  z-index: 1;
  cursor: pointer;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
  z-index: 1;
}

.faPencil{
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  z-index: 1;
}
 
.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.9rem;
}